.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #181c20;
}

svg {
  line {
    stroke: #535760;
  }
  text {
    fill: #535760;
  }
  .domain {
    stroke: #535760;
  }
  .parabola {
    fill: none;
    stroke: #3c93ff;
    stroke-width: 1.5;
    opacity: 0.25;
  }
  .parabola:last-child {
    stroke: #007bff;
    stroke-width: 2;
    opacity: 1;
  }
}

.tooltip {
  position: absolute;
  opacity: 0;
}
